body{
    height: 2633px;
    width: 755px;
    margin: auto;
    background-color: #f2f2f2;
}
.breakfast {
    padding-top: 30px;
    padding-bottom: 24px;
    margin: 0;
    color: #521705;
}
img {
    padding-right: 20px;
}
.blok {
    text-align: justify;
    font-family: sans-serif;
    color: black;
    padding-top: 15px;
    width: 100%;
}
.line {
    margin-bottom: 20px;
    width: 100%;
    padding-right: 0;
}
.name-food {
    color: #b88f3d;
    font-size: 1.3em;
}
.desciprion-block {
    display: flex;
    margin-bottom: 22px;
    
}
.cost::before {
    content: '$';
    font-size: 0.9em;
    color: #979705;
}
.cost {
    font-size: 1.2em;
    color: #979705;
}
.desciprion-block:hover {
    transform: scale(1.2);
    opacity: 0.7;
    transition: 0.7s;
    cursor: crosshair;
    border: 1px solid rgb(100, 98, 98);

}
.bottom {
    height: 30px;
    width: 100%;
}
